.spacer {
  flex: 1 1 auto;
}

.input {
  display: flex;
  flex-grow: 1;
}

.button {
  border: none;
  background: indigo;
  color: white;
  border-radius: 5px;
  padding: 4px 8px;
  margin-right: 8px;
  cursor: pointer;
}
